.logo {
  font-family: cursive;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
}

.highlight {
  color: #ff6347; /* Highlight color for 'Educa' */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for the rating container */
.rating-container {
  display: flex;
  justify-content: center;
}

/* Hide radio buttons */
.rating-container input[type="radio"] {
  display: none;
}

/* Style for star labels */
.rating-container label {
  font-size: 24px;
  color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

/* Change color of stars on hover */
.rating-container label:hover,
.rating-container label:hover ~ label {
  color: #f8ca00;
}

/* Change color of selected stars */
.rating-container input[type="radio"]:checked ~ label {
  color: #f8ca00;
}

